<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="logo-container">
                  <img class="logo" src="/img/Cabinet_Office_logo2.svg" alt="cabinet office logo" style="min-width:125px; max-width:135px">
                </div>
                <h2>Helping government to avoid losing it's mind</h2>
                <p>Government has a legal responsibility to publish records that are in the national interest and respond to enquiries from the public in the form of freedom of information requests.</p>
                <p>The volume of documents that government generates means that many departments are not able to efficiently manage information.</p>
                <p>As part of a cross-government initiative to improve how government manages its digital information, we are applying state of the art machine learning and natural language processing techniques to the problem.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/dataseed-black.png" alt="interactive data visualization">
            </div>
        </div>
        <!-- <div class="portfolio-testimony portfolio-testimony-dataseed-chevron">
            <hr>
            <div class="row row-mod portfolio-testimony-container">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 portfolio-testimony-text">
                    <p>I am impressed!.. After playing around with some data I must say it works perfect! Just the tool I need...</p>
                    <div class="portfolio-hr"></div>
                    <h3>Marcel Peterson</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 portfolio-logo-image">
                    <div class="case-study-winner case-study-square case-study-square-winner portfolio-square portfolio-square-guardian">
                        <p>Information is <br><span class="case-study-beautiful">beautiful</span><br><span class="case-study-strong">award winner</span></p>
                        <img src="/img/winner-white.png" alt="Information is beautiful winner">
                    </div>
                    <div class="case-study-guardian case-study-square case-study-square-guardian portfolio-square">
                        <p>Featured in<br><span class="case-study-strong">the guardian</span></p>
                        <img src="/img/guardian-white.png" alt="Featured in the guardian">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="logo-container">
                    <img class="case-study-logo" src="/img/Parity.svg" alt="parity logo">
                </div>
                <h2><a href="/portfolio/parity-group-groupseer">Understanding Communities In Twitter</a></h2>
                <p>We're working with Parity to develop an
                    innovative new product in the social media analytics space.</p>
                <p> Our
                    work involves developing a proof of concept through an iterative product development cycle, using AWS, Apache Spark, unsupervised machine learning and natural language processing.</p>
                <p>The core technical approach has since been patented.</p>

            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/parity-group-groupseer"><img src="/img/groupseer-white.png" alt="Social Media Analytics and Visualisation"></a>
            </div>
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="logo-container">
                    <a href="https://completeflow.ai"><img class="case-study-logo" src="/images/complete-flow-logo-hori-white.svg" alt="conversational ai completeflow" style="min-width:125px; max-width:185px"></a>
                </div>
                <h2><span class="portfolio-thin">Improved customer experience<br class="hidden-xs"></span> with conversational AI</h2>
                <p>Complete Flow is a platform for delivering conversational AI experiences. We built it to offer our customers full ownership of their data and complete flexibility in managing their content and workflows.

                <p>Offering best-in-class natural language understanding with easy content management and built-in livechat functionality.

                <p>CompleteFlow is now used as a platform to deliver conversational AI by everyone from UK police forces to Fortune 500 companies.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="https://completeflow.ai"><img src="/img/loqativ-case-study.png" alt="completeflow conversational ai"></a>
            </div>
        </div>
    </div>
</section>
