<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="logo-container">
                    <img class="case-study-logo" src="/img/dataseed-white.png" alt="dataseed logo">
                </div>
                <h2><a href="/portfolio/dataseed">Interactive Data Visualisation as a Service</a></h2>
                <p>Dataseed is a data visualisation SaaS product created by Atchai. We&#8217;ve made it simpler than ever to create beautiful, interactive data visualisations. In five minutes you can turn spreadsheets into valuable business insights. A free service is available for open data publishers, along with paid subscriptions for commercial use.</p>
                <p>Using our open source toolkit and our REST API you can embed Dataseed into other web applications, making it easy to offer data and analytics to your customers.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="https://mythx.io/"><img src="/img/dataseed-black.png" alt="interactive data visualization"></a>
            </div>
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/mindbot">Digital Coaching AI</a></h2>
                <p>Xen is a digital coaching service that helps you discover who you are and who you want to become. Few people can accurately describe what they want to accomplish in life and why that is important to them. Xen helps you uncover your purpose though introspective questioning and helps create an accountability habit to make dreams come true.</p>
                <p>Working in short sprints, we suceeded in getting an MVP to market within 2 weeks, allowing us to start learning about user needs and continually iterate on the product.</p><br>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="https://mythx.io/"><img src="/img/mindbot-white.png" alt="Mindobot"></a>
            </div>
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
              <div class="logo-container">
                <img class="logo" src="/img/Turner.svg" alt="turner logo"></a>
              </div>
                <h2><a href="/portfolio/turner-broadcasting-general-entertainment">Tv Channel Framework</a></h2>
                <p>Turner Broadcasting is home to some of the most recognisable global entertainment brands, such as Boomerang, Cartoon Network, CNN, TCM, and TNT.</p>
                <p>We were engaged by Turner Broadcasting to create a platform that enables the rapid roll-out of websites for their General Entertainment brands across Europe, the Middle East and Africa.
                </p>
            </div>
            <div class="col-md-6 landing-case-study-container-img tv">
                <a href="/portfolio/turner-broadcasting-general-entertainment/"><img src="/img/mobile-1.png" alt="TV Channel mobile 1"></a>
                <a href="/portfolio/turner-broadcasting-general-entertainment/"><img src="/img/mobile-2.png" alt="TV Channel mobile 2"></a>
            </div>
        </div>
    </div>
</section>
