<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <br><br>
                <div class="logo-container">
                    <a href="https://completeflow.ai"><img class="case-study-logo" src="/images/complete-flow-logo-hori-white.svg" alt="conversational ai completeflow" style="min-width:125px; max-width:185px"></a>
                </div>
                <h2><span class="portfolio-thin">Improved customer experience<br class="hidden-xs"></span> with conversational AI</h2>
                <p>Complete Flow is a platform for delivering conversational AI experiences. We built it to offer our customers full ownership of their data and complete flexibility in managing their content and workflows.

                <p>Offering best-in-class natural language understanding with easy content management and built-in livechat functionality.

                <p>CompleteFlow is now used as a platform to deliver conversational AI by everyone from UK police forces to Fortune 500 companies.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="https://completeflow.ai"><img src="/img/loqativ-case-study.png" alt="completeflow conversational ai"></a>
            </div>
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
              <br><br>
                <div class="logo-container">
                    <img class="case-study-logo" src="/img/dataseed-logo-black.svg" alt="dataseed logo">
                </div>
                <h2><a href="/portfolio/dataseed"><span class="portfolio-thin">Interactive Data Visualisation</span> as a Service</a></h2>
                <p>Dataseed is a data visualisation SaaS product created by Atchai. We&#8217;ve made it simpler than ever to create beautiful, interactive data visualisations. In five minutes you can turn spreadsheets into valuable business insights. A free service is available for open data publishers, along with paid subscriptions for commercial use.</p>
                <p>Using our open source toolkit and our REST API you can embed Dataseed into other web applications, making it easy to offer data and analytics to your customers.</p>
                <p>Customers include Google, Microsoft, Cisco, BBC, World Bank, Microsoft and Universal Music Group.
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="https://mythx.io/"><img src="/img/dataseed-black.png" alt="interactive data visualization"></a>
            </div>
        </div>
    </div>
</section>


<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
              <br><br>
              <img class="logo" src="/img/consensys-logo.svg" alt="consensys logo" style="max-width:135px; min-width:125px">
              <br>
              <h2>Innovative SaaS payments</h2>
              <p>MythX is a ConsenSys company, building a security tools platform that brings advanced security analysis directly into smart contract development environments and build pipelines.</p>
              <p>We have been engaged by ConsenSys to build an Ethereum-based payments application for their premium subscription product.</p>
              <p>The subscription payments system is now live and available to MythX customers.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
              <a href="/we-develop/blockchain-ethereum-development"><img src="/img/case-study-mythx-black.png" alt="etherum dapp development" style="width:100%"></a>
            </div>
        </div>
    </div>
</section>
