<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="logo-container">
                    <img class="logo" src="/img/danone-logo-white.svg" alt="danone logo">
                </div>
                <br>
                <h2><a href="/portfolio/danone/">Reducing allergy diagnosis time</a></h2>
                <p>Danone is a global food products corporation, present in over 130 countries. They have the market leading product that is prescribed in the event that a child is diagnosed with cows milk allergy.</p>
                <p>It takes an average of 11 GP visits and 15 weeks from initial symtoms to diagnosis of CMA, causing a lot of unnecessary distress for parent and child. We built a bot that acts as a companion for parents throughout this journey, helping them to track symptoms and produce a comprehensive report to take to the GP, significantly reducing the average diagnosis time for CMA.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/danone"><img src="/img/case-study-danone-black.png" alt="healthcare bot development"></a>
            </div>
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="case-study-logo-container">
                    <img class="case-study-logo" src="/img/department-for-international-trade-logo-colour.svg" alt="danone logo"></a>
                </div>
                <br>
                <h2>Improving Customer service for Government</h2>
                <p>We're working with the UK Government Department of International Trade to develop an innovative new conversational AI product. The laws around importing and exporting goods are complex, and cover everything from importing plans to exporting military hardware for repair. It can be extremely time consuming for the ordinary citizen or small business to understand whether they need a license, and if so which one.</p>
                <p>By using a conversational user interface, we believe that we can reduce the time it takes to find these answers, as well as reducing the burden on human advisors.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/case-study-dit-white.png" alt="web conversational ai bot development">
            </div>
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">
        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="case-study-logo-container">
                    <img class="case-study-logo" src="/img/sabc-logo-white.svg" alt="danone logo"></a>
                </div>
                <br>
                <h2><a href="/portfolio/eyewitness/">Making news personal</span></a></h2>
                <p>Eyewitness is a full featured platform for media organisations and brands to engage with their audience through Facebook Messenger and other conversational channels. It provides a turn-key solution for sharing content and collecting stories with images and video.</p>
                <p>We have received funding from innovateAfrica and Gates Foundation to futher develop Eyewitness to enable African journalists to leverage their community on Facebook to gather opinions, tip-offs and quotes.  Our customers include the South African Public Service Broadcasting Corporation.</p>
                <br>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/eyewitness"><img src="/img/hippocamp-case-study-black.png" alt="facebook messenger bot development"></a>
            </div>
        </div>
    </div>
</section>
