<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/danone/">Danone - Cows Milk Allergy Companion</a></h2>

                <p>Danone is a multi-national food products corporation, present in over 130 countries.  They have the market leading product that is prescribed in the event that a child is diagnosed with cows milk allergy.</p><br>

                <p>It takes an average of 11 GP visits and 15 weeks from initial symtoms to diagnosis of CMA, causing a lot of unnecessary distress for parent and child.  We built a bot that acts as a companion for parents throughout this journey, helping them to track symptoms and produce a comprehensive report to take to the GP, significantly reducing the average diagnosis time for CMA.</p><br>

                <div class="case-study-logo-container">
                    <img class="case-study-logo" src="/img/danone-logo-white.svg" alt="danone logo"></a>
                </div>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/danone"><img src="/img/case-study-danone.png" alt="healthcare bot development"></a>
            </div>
        </div>
    </div>
</section>


<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2>Department of International Trade</h2>

                <p>We're working with the UK Government Department of International Trade to develop an innovative new conversational AI product.  The laws around importing and exporting goods are complex, and cover everything from importing plants to exporting military hardware for repair. It can be extremely time consuming for the ordinary citizen or small business to understand whether they need a license, and if so which one.</p><br>

                <p>By using a conversational user interface, we can reduce the time it takes to find these answers, as well as reduce the burden on human advisors.</p><br>

                <div class="case-study-logo-container">
                    <img class="case-study-logo" src="/img/department-for-international-trade-logo-colour.svg" alt="danone logo"></a>
                </div>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/beis.png" alt="web conversational ai bot development">
            </div>
        </div>
    </div>
</section>



<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/eyewitness/">Eyewitness</span></a></h2>

                <p>Eyewitness is a bot platform for media organisations and brands to engage with their audience through Facebook Messenger. It provides a turn-key solution for pushing out updates and collecting stories and media.  More features are being added all the time.</p><br>

                <p>Clients include the South African Public Service Broadcasting Corporation. We have recently received funding from #innovateAfrica to develop an open source version that will enable African journalists to leverage their community on Facebook to gather opinions, tip-offs and quotes. </p><br>

                <div class="case-study-logo-container">
                    <img class="case-study-logo" src="/img/sabc-logo-white.svg" alt="danone logo"></a>
                </div>
               <br>

            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/eyewitness"><img src="/img/hippocamp-case-study.png" alt="facebook messenger bot development"></a>
            </div>
        </div>
    </div>
</section>
