<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="case-study-logo-container">
                    <img class="case-study-logo" src="/img/consensys-logo-2.png" alt="consensys logo">
                </div>

                <h2><a href="https://mythx.io/">MythX Payments</a></h2>

                <p>MythX is a ConsenSys company, building a security tools platform that brings advanced security analysis directly into smart contract development environments and build pipelines. </p><br>

                <p>We have been engaged as a technology partner by Mythril to build the payments system for their premium subscription product.  Initially developed to incorporate the MYTH token for payment, we have since moved to a stablecoin based system.  </p><br>

                <p>The subscription payments system is now live and available on the <a href="https://mythx.io/">MythX site.</a></p><br>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="https://mythx.io/"><img src="/img/case-study-mythx.png" alt="Ethereum dapp development"></a>
            </div>
        </div>
    </div>
</section>


<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="case-study-logo-container">
                    <a href="https://akropolis.io/"><img class="case-study-logo" src="/img/logo-akropolis.png" alt="akropolis logo"></a>
                </div>
                <h2><a href="https://akropolis.io/">Akropolis</a></h2>

                <p>The Akropolis project is unlocking the potential of the informal economy by building a decentralised finance protocol.  </p><br>

                <p>After raising £12M from institutional investors in late 2017, we took on the challenge of leading the design and build of the Akropolis MVP.  Over an extremely short timeline of three weeks we were able to deliver to market a working product from scratch.</p><br>

                <p>The product we delivered includes a full mobile-first user experience backed by upgradable smart contracts built with solidity and running on the public Ethereum live network. </p><br>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/case-study-akropolis.png" alt="web conversational ai bot development">
            </div>
        </div>
    </div>
</section>



<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <div class="case-study-logo-container">
                    <img class="case-study-logo" src="/img/logo-gooddollar.png" alt="gooddollar logo"></a>
                </div>
                <h2><a href="https://www.gooddollar.org/">GoodDollar</a></h2>

                <p>The 42 richest people on Earth have more wealth than the poorest 3.7 billion.  The GoodDollar experiment is a series of tests with the ultimate purpose of reducing wealth inequality through blockchain technology. Their mission is to build a new, global, open-source cryptocurrency – called GoodDollar – to distribute money using the principles of universal basic income (UBI).</p><br>

                <p>Atchai was engaged to build the first two MVP products for GoodDollar.  Though we also delivered a simple dApp for testing, our work focussed primarily around the back-end smart contracts.</p><br>

                <p>The system uses a market maker contract to enable the buying and selling of tokens with no third party exchange. UBI participants are programatically entitled to claim a number of newly minted tokens daily that cause an inflationary effect on the token price.  </p><br>
               <br>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="https://www.gooddollar.org/"><img src="/img/case-study-gooddollar.png" alt="etherum dapp development studio"></a>
            </div>
        </div>
    </div>
</section>
