<article class="testimonials">
    <div class="container">
        <p class="testimonials-text">We engaged Atchai to develop Nutricia’s first AI offering. We found Atchai’s experience and knowledge of this space invaluable.</p>

        <p class="testimonials-text">Atchai’s approach to the project was very professional and well structured. I look forward to working with them again.</p>

        <div class="testimonials-hr"></div>
        <h3 class="testimonials-header-turner">Matt Scott</h3>

        <h2 class="testimonials-header">Nutricia / Danone</h2>
        <img src="/img/Danone.svg" class="testimonials-image" alt="Danone / Nutricia Testimonial">
    </div>
</article>
