<article class="testimonials">
    <div class="container">
        <p class="testimonials-text">Working with cutting edge technology in an emerging sector is a challenge.  The team were fantastically agile, professional and reliable throughout the project, we communicated regularly and managed to develop a novel concept into working software within a short timeframe.</p>

        <p class="testimonials-text"><strong>I highly recommend working with Atchai for any project that requires a creative approach backed up by strong engineering practices.</strong></p>

        <div class="testimonials-hr"></div>
        <h3 class="testimonials-header-turner">Bernhard Mueller</h3>

        <h2 class="testimonials-header">Consensys</h2>
        <br><br>
    </div>
</article>
