{{ partial "small-header.html" . }}

<section class="landing-top-section">
    <div class="landing-top-block">
      

        {{ if isset .Params "header_image"  }}
            <img src="{{ .Params.header_image }}" class="blog-image">
        {{ end }}
        
        {{ if isset .Params "h1"  }}
          <h1>{{ .Params.h1 }}</h1>
        {{ end }}
        
        <div class="landing-top-content">
            {{ .Content }}
        </div>
    </div>
</section>


{{ range $index, $path := .Params.partial_includes }}
  {{ partial $path }}
{{ end }}


{{ partial "footer.html" . }}
